@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  //@Todo: vlad medvede - change the color and other configurations for the scrollbar as you wish
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: #e2dee7;
    border-radius: 20px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #a7a1b4;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #8d839a;
  }
}
