.withVerticalCustomScroll{
    //@Todo: vlad medvede - change the color and other configurations as you wish
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgb(240, 171, 252) transparent;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(155, 155, 155, 0.7);
        border-radius: 4px;
    }
}
